# 1. Upload data

1.1. Import modules

In [1]:
# coding: utf-8
import csv
import pandas as pd
import numpy as np

1.2. Read csv-file and import data to dataframe with pandas

In [2]:
ua = pd.read_csv('/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23ua.csv', index_col=False, header=0, delimiter=';')
print (ua.head(5))
print (ua.info())

           good_name  price     category_full                       category  \
0    HAMMARN ХАММАРН   2699             Ліжка                   Дивани-ліжка
1  KNOPPARP КНОППАРП   2699  Дивани та крісла  Дивани з текстильною оббивкою
2  FRIHETEN ФРІХЕТЕН  13999             Ліжка                   Дивани-ліжка
3        KIVIK КІВІК  10999  Дивани та крісла  Дивани з текстильною оббивкою
4  FRIHETEN ФРІХЕТЕН  11999             Ліжка                   Дивани-ліжка

   category_int  product_id      tax        date currency country
0         20874    90354327   449.83  2021-02-23      uah      UA
1         10668    10424621   449.83  2021-02-23      uah      UA
2         20874    39216754  2333.16  2021-02-23      uah      UA
3         10670    99011429  1833.17  2021-02-23      uah      UA
4         20874    50341148  1999.83  2021-02-23      uah      UA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2647 entries, 0 to 2646
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   good_name      2647 non-null   object
 1   price          2647 non-null   int64
 2   category_full  2647 non-null   object
 3   category       2647 non-null   object
 4   category_int   2647 non-null   int64
 5   product_id     2647 non-null   int64
 6   tax            2647 non-null   float64
 7   date           2647 non-null   object
 8   currency       2647 non-null   object
 9   country        2647 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 206.9+ KB
None

1.3. Set different data type

- everything as object

In [3]:
ua = pd.read_csv('/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23ua.csv', index_col=False, header=0, delimiter=';',dtype='object')
print (ua.head(3))
print (ua.info())

           good_name  price     category_full                       category  \
0    HAMMARN ХАММАРН   2699             Ліжка                   Дивани-ліжка
1  KNOPPARP КНОППАРП   2699  Дивани та крісла  Дивани з текстильною оббивкою
2  FRIHETEN ФРІХЕТЕН  13999             Ліжка                   Дивани-ліжка

  category_int product_id      tax        date currency country
0        20874   90354327   449.83  2021-02-23      uah      UA
1        10668   10424621   449.83  2021-02-23      uah      UA
2        20874   39216754  2333.16  2021-02-23      uah      UA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2647 entries, 0 to 2646
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   good_name      2647 non-null   object
 1   price          2647 non-null   object
 2   category_full  2647 non-null   object
 3   category       2647 non-null   object
 4   category_int   2647 non-null   object
 5   product_id     2647 non-null   object
 6   tax            2647 non-null   object
 7   date           2647 non-null   object
 8   currency       2647 non-null   object
 9   country        2647 non-null   object
dtypes: object(10)
memory usage: 206.9+ KB
None

- specify selected columns

In [4]:
ua = pd.read_csv('/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23ua.csv', index_col=False, header=0, delimiter=';', dtype={'category_int':'object', 'product_id':'object'})
print (ua.head(3))
print (ua.info())

           good_name  price     category_full                       category  \
0    HAMMARN ХАММАРН   2699             Ліжка                   Дивани-ліжка
1  KNOPPARP КНОППАРП   2699  Дивани та крісла  Дивани з текстильною оббивкою
2  FRIHETEN ФРІХЕТЕН  13999             Ліжка                   Дивани-ліжка

  category_int product_id      tax        date currency country
0        20874   90354327   449.83  2021-02-23      uah      UA
1        10668   10424621   449.83  2021-02-23      uah      UA
2        20874   39216754  2333.16  2021-02-23      uah      UA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2647 entries, 0 to 2646
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   good_name      2647 non-null   object
 1   price          2647 non-null   int64
 2   category_full  2647 non-null   object
 3   category       2647 non-null   object
 4   category_int   2647 non-null   object
 5   product_id     2647 non-null   object
 6   tax            2647 non-null   float64
 7   date           2647 non-null   object
 8   currency       2647 non-null   object
 9   country        2647 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 206.9+ KB
None

- different approach for dates parsing

In [5]:
from datetime import datetime
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d') #set dates parser
ua = pd.read_csv('/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23ua.csv', index_col=False, header=0, delimiter=';', parse_dates=['date'], date_parser=dateparse,dtype={'category_int':'object', 'product_id':'object'})
print (ua.head(3))
print (ua.info())

           good_name  price     category_full                       category  \
0    HAMMARN ХАММАРН   2699             Ліжка                   Дивани-ліжка
1  KNOPPARP КНОППАРП   2699  Дивани та крісла  Дивани з текстильною оббивкою
2  FRIHETEN ФРІХЕТЕН  13999             Ліжка                   Дивани-ліжка

  category_int product_id      tax       date currency country
0        20874   90354327   449.83 2021-02-23      uah      UA
1        10668   10424621   449.83 2021-02-23      uah      UA
2        20874   39216754  2333.16 2021-02-23      uah      UA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2647 entries, 0 to 2646
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   good_name      2647 non-null   object
 1   price          2647 non-null   int64
 2   category_full  2647 non-null   object
 3   category       2647 non-null   object
 4   category_int   2647 non-null   object
 5   product_id     2647 non-null   object
 6   tax            2647 non-null   float64
 7   date           2647 non-null   datetime64[ns]
 8   currency       2647 non-null   object
 9   country        2647 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 206.9+ KB
None

- change data type after file being uploaded. The simplest way to convert a pandas column of data to a different type is to use astype()
https://pbpython.com/pandas_dtypes.html

In [6]:
ua = pd.read_csv('/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23ua.csv', index_col=False, header=0, delimiter=';',dtype='object')
ua['price'] = ua['price'].astype('float') #converts object to numbers
ua['tax'] = ua['tax'].astype('float') #converts object to numbers
print (ua.head(3))
print (ua.info())

           good_name    price     category_full  \
0    HAMMARN ХАММАРН   2699.0             Ліжка
1  KNOPPARP КНОППАРП   2699.0  Дивани та крісла
2  FRIHETEN ФРІХЕТЕН  13999.0             Ліжка

                        category category_int product_id      tax        date  \
0                   Дивани-ліжка        20874   90354327   449.83  2021-02-23
1  Дивани з текстильною оббивкою        10668   10424621   449.83  2021-02-23
2                   Дивани-ліжка        20874   39216754  2333.16  2021-02-23

  currency country
0      uah      UA
1      uah      UA
2      uah      UA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2647 entries, 0 to 2646
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   good_name      2647 non-null   object
 1   price          2647 non-null   float64
 2   category_full  2647 non-null   object
 3   category       2647 non-null   object
 4   category_int   2647 non-null   object
 5   product_id     2647 non-null   object
 6   tax            2647 non-null   float64
 7   date           2647 non-null   object
 8   currency       2647 non-null   object
 9   country        2647 non-null   object
dtypes: float64(2), object(8)
memory usage: 206.9+ KB
None

Astype() will only work if the data is clean and can be simply interpreted as a number. It doesn't work with dates

- Date type can be converted simply using built in pandas functions such as pd.to_numeric() and pd.to_datetime()

In [7]:
ua = pd.read_csv('/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23ua.csv', index_col=False, header=0, delimiter=';',dtype='object')
ua.date=pd.to_datetime(ua.date, errors='coerce') #converts object to date
ua.price = pd.to_numeric(ua.price,errors='coerce') #converts object to numbers
ua.tax = pd.to_numeric(ua.tax,errors='coerce') #converts object to numbers
print (ua.head(3))
print (ua.info())

           good_name  price     category_full                       category  \
0    HAMMARN ХАММАРН   2699             Ліжка                   Дивани-ліжка
1  KNOPPARP КНОППАРП   2699  Дивани та крісла  Дивани з текстильною оббивкою
2  FRIHETEN ФРІХЕТЕН  13999             Ліжка                   Дивани-ліжка

  category_int product_id      tax       date currency country
0        20874   90354327   449.83 2021-02-23      uah      UA
1        10668   10424621   449.83 2021-02-23      uah      UA
2        20874   39216754  2333.16 2021-02-23      uah      UA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2647 entries, 0 to 2646
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   good_name      2647 non-null   object
 1   price          2647 non-null   int64
 2   category_full  2647 non-null   object
 3   category       2647 non-null   object
 4   category_int   2647 non-null   object
 5   product_id     2647 non-null   object
 6   tax            2647 non-null   float64
 7   date           2647 non-null   datetime64[ns]
 8   currency       2647 non-null   object
 9   country        2647 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 206.9+ KB
None

1.4. Import excel file

In [8]:
er = pd.read_excel('/Users/tetianayukhymenko/Documents/Code/IKEA/ER.xlsx', index_col= False, header=0)
print (er.head(3))
print (er.info())

  currency       date         ER
0      CZK 2021-01-21   1.307100
1      EUR 2021-01-21  34.148800
2      HUF 2021-01-21   0.095547
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  48 non-null     object
 1   date      48 non-null     datetime64[ns]
 2   ER        48 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.2+ KB
None

# 2. Upload list of files

2.1. Import modules

In [9]:
import glob

2.2. Specify path and filenames

In [10]:
path = r'/Users/tetianayukhymenko/Documents/Code/IKEA' # use your path
all_files = glob.glob(path + "/*.csv")
print (all_files)

['/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-04ua.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-26hu.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-04cz.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23pl.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-26ro.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-26sk.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-12it.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23se.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-04at.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-12hu.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-26it.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-12sk.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-12ro.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-17hu.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23ua.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-21it.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23cz.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-17sk.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-17ro.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-04pl.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23at.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-21ro.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-21sk.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-04se.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-17it.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-21hu.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-04ro.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-04sk.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-21se.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-17pl.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-12at.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-04hu.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-26cz.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-26ua.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-04it.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-12cz.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-21pl.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-26at.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-12ua.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-17se.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-26pl.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23ro.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23sk.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-21at.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-17ua.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-12se.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23hu.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-17cz.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-12pl.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-23it.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-21cz.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-21ua.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-01-26se.csv', '/Users/tetianayukhymenko/Documents/Code/IKEA/ikea_2021-02-17at.csv']

2.3. Upload bunch of files and glue them into one dataframe

In [11]:
li = [] #list of dataframes that will be concatenated. Should be empty at first and will expand with for loop

for filename in all_files:
    #insert code from 1.3
    df = pd.read_csv(filename, index_col=False, header=0, delimiter=';',dtype='object')
    df.date=pd.to_datetime(df.date, errors='coerce') #converts object to date
    df.price = pd.to_numeric(df.price,errors='coerce') #converts object to numbers
    df.tax = pd.to_numeric(df.tax,errors='coerce') #converts object to numbers
    print (df.head(3))
    li.append(df)
frame = pd.concat(li, axis=0, ignore_index=True) #concatenate list of dataframes

           good_name  price     category_full                       category  \
0    HAMMARN ХАММАРН   2699             Ліжка                   Дивани-ліжка
1  KNOPPARP КНОППАРП   2699  Дивани та крісла  Дивани з текстильною оббивкою
2  FRIHETEN ФРІХЕТЕН  13999             Ліжка                   Дивани-ліжка

  category_int product_id      tax       date currency country
0        20874   90354327   449.83 2021-02-04      uah      UA
1        10668   10424621   449.83 2021-02-04      uah      UA
2        20874   39216754  2333.16 2021-02-04      uah      UA
               good_name  price category_full category category_int  \
0              SYMFONISK  34990           NaN      NaN        46194
1              SYMFONISK   2490           NaN      NaN        46194
2  SYMFONISK / SYMFONISK  36680           NaN      NaN        46194

  product_id      tax       date currency country
0   30435204  7438.82 2021-01-26      HUF      HU
1   10485742   529.37 2021-01-26      HUF      HU
2   69304570  7798.11 2021-01-26      HUF      HU
  good_name  price category_full category category_int product_id    tax  \
0   TRÅDFRI    299           NaN      NaN        36814   70429913  51.89
1   TRÅDFRI    179           NaN      NaN        36814   40467765  31.07
2   TRÅDFRI    299           NaN      NaN        16281   30443124  51.89

        date currency country
0 2021-02-04      CZK      CZ
1 2021-02-04      CZK      CZ
2 2021-02-04      CZK      CZ
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE  29.00           NaN      NaN        25222   60217799  5.42
1     NISSE  39.99           NaN      NaN        25222   30115066  7.48
2      ADDE  39.00           NaN      NaN        25220   10219178  7.29

        date currency country
0 2021-02-23      PLN      PL
1 2021-02-23      PLN      PL
2 2021-02-23      PLN      PL
  good_name  price category_full category category_int product_id    tax  \
0   TRÅDFRI   59.9           NaN      NaN        16281   10460751   9.56
1   TRÅDFRI  139.9           NaN      NaN        16281   40337806  22.34
2   TRÅDFRI   49.9           NaN      NaN        36814   70429913   7.97

        date currency country
0 2021-01-26      RON      RO
1 2021-01-26      RON      RO
2 2021-01-26      RON      RO
               good_name   price category_full category category_int  \
0              SYMFONISK   99.90           NaN      NaN        46194
1  SYMFONISK / SYMFONISK  109.89           NaN      NaN        46194
2    SYMFONISK / TRÅDFRI   41.98           NaN      NaN        46194

  product_id    tax       date currency country
0   30435204  16.65 2021-01-26      EUR      SK
1   09304549  18.32 2021-01-26      EUR      SK
2   19319164   7.00 2021-01-26      EUR      SK
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.17
1     NISSE   9.95           NaN      NaN        25222   30115066  1.79
2      ADDE   9.95           NaN      NaN        25220   10219178  1.79

        date currency country
0 2021-02-12      EUR      IT
1 2021-02-12      EUR      IT
2 2021-02-12      EUR      IT
  good_name   price category_full category category_int product_id    tax  \
0   HAMMARN   899.0           NaN      NaN        20874   90354327  179.8
1  FRIHETEN  3795.0           NaN      NaN        20874   49297561  759.0
2  FRIHETEN  4495.0           NaN      NaN        20874   80432081  899.0

        date currency country
0 2021-02-23      SEK      SE
1 2021-02-23      SEK      SE
2 2021-02-23      SEK      SE
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.08
1     NISSE  19.99           NaN      NaN        25222   30115066  3.33
2      ADDE   9.99           NaN      NaN        25220   10219178  1.67

        date currency country
0 2021-02-04      EUR      AT
1 2021-02-04      EUR      AT
2 2021-02-04      EUR      AT
  good_name  price category_full category category_int product_id      tax  \
0   TRÅDFRI   2290           NaN      NaN        36814   40467765   486.85
1   TRÅDFRI   3490           NaN      NaN        16281   30443124   741.97
2   TRÅDFRI   9990           NaN      NaN        16281   40337806  2123.86

        date currency country
0 2021-02-12      HUF      HU
1 2021-02-12      HUF      HU
2 2021-02-12      HUF      HU
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.17
1     NISSE   9.95           NaN      NaN        25222   30115066  1.79
2      ADDE   9.95           NaN      NaN        25220   10219178  1.79

        date currency country
0 2021-01-26      EUR      IT
1 2021-01-26      EUR      IT
2 2021-01-26      EUR      IT
  good_name  price category_full category category_int product_id   tax  \
0   TRÅDFRI   6.99           NaN      NaN        36814   40467765  1.17
1   TRÅDFRI  11.99           NaN      NaN        16281   10460751  2.00
2   TRÅDFRI   5.99           NaN      NaN        36814   00468432  1.00

        date currency country
0 2021-02-12      EUR      SK
1 2021-02-12      EUR      SK
2 2021-02-12      EUR      SK
  good_name  price category_full category category_int product_id   tax  \
0   TRÅDFRI   59.9           NaN      NaN        16281   10460751  9.56
1   TRÅDFRI   34.9           NaN      NaN        36814   40467765  5.57
2   TRÅDFRI   49.9           NaN      NaN        36814   90356166  7.97

        date currency country
0 2021-02-12      RON      RO
1 2021-02-12      RON      RO
2 2021-02-12      RON      RO
  good_name  price category_full category category_int product_id      tax  \
0   TRÅDFRI   2290           NaN      NaN        36814   40467765   486.85
1   TRÅDFRI   3490           NaN      NaN        16281   30443124   741.97
2   TRÅDFRI   9990           NaN      NaN        16281   40337806  2123.86

        date currency country
0 2021-02-17      HUF      HU
1 2021-02-17      HUF      HU
2 2021-02-17      HUF      HU
           good_name  price     category_full                       category  \
0    HAMMARN ХАММАРН   2699             Ліжка                   Дивани-ліжка
1  KNOPPARP КНОППАРП   2699  Дивани та крісла  Дивани з текстильною оббивкою
2  FRIHETEN ФРІХЕТЕН  13999             Ліжка                   Дивани-ліжка

  category_int product_id      tax       date currency country
0        20874   90354327   449.83 2021-02-23      uah      UA
1        10668   10424621   449.83 2021-02-23      uah      UA
2        20874   39216754  2333.16 2021-02-23      uah      UA
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.17
1     NISSE   9.95           NaN      NaN        25222   30115066  1.79
2      ADDE   9.95           NaN      NaN        25220   10219178  1.79

        date currency country
0 2021-01-21      EUR      IT
1 2021-01-21      EUR      IT
2 2021-01-21      EUR      IT
  good_name  price category_full category category_int product_id    tax  \
0   TRÅDFRI    179           NaN      NaN        36814   40467765  31.07
1   TRÅDFRI    149           NaN      NaN        36814   00468432  25.86
2   TRÅDFRI    299           NaN      NaN        16281   30443124  51.89

        date currency country
0 2021-02-23      CZK      CZ
1 2021-02-23      CZK      CZ
2 2021-02-23      CZK      CZ
  good_name  price category_full category category_int product_id   tax  \
0   TRÅDFRI   6.99           NaN      NaN        36814   40467765  1.17
1   TRÅDFRI  11.99           NaN      NaN        16281   10460751  2.00
2   TRÅDFRI   9.99           NaN      NaN        36814   10400408  1.67

        date currency country
0 2021-02-17      EUR      SK
1 2021-02-17      EUR      SK
2 2021-02-17      EUR      SK
  good_name  price category_full category category_int product_id   tax  \
0   TRÅDFRI   34.9           NaN      NaN        36814   40467765  5.57
1   TRÅDFRI   59.9           NaN      NaN        16281   10460751  9.56
2   TRÅDFRI   49.9           NaN      NaN        36814   70429913  7.97

        date currency country
0 2021-02-17      RON      RO
1 2021-02-17      RON      RO
2 2021-02-17      RON      RO
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE  29.00           NaN      NaN        25222   60217799  5.42
1     NISSE  39.99           NaN      NaN        25222   30115066  7.48
2      ADDE  39.00           NaN      NaN        25220   10219178  7.29

        date currency country
0 2021-02-04      PLN      PL
1 2021-02-04      PLN      PL
2 2021-02-04      PLN      PL
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.08
1     NISSE  19.99           NaN      NaN        25222   30115066  3.33
2      ADDE   9.99           NaN      NaN        25220   10219178  1.67

        date currency country
0 2021-02-23      EUR      AT
1 2021-02-23      EUR      AT
2 2021-02-23      EUR      AT
  good_name  price category_full category category_int product_id    tax  \
0   TRÅDFRI   59.9           NaN      NaN        16281   10460751   9.56
1   TRÅDFRI  139.9           NaN      NaN        16281   40337806  22.34
2   TRÅDFRI   29.9           NaN      NaN        36814   00468432   4.77

        date currency country
0 2021-01-21      RON      RO
1 2021-01-21      RON      RO
2 2021-01-21      RON      RO
             good_name  price category_full category category_int product_id  \
0            SYMFONISK  99.90           NaN      NaN        46194   50357554
1  SYMFONISK / TRÅDFRI  41.98           NaN      NaN        46194   19319164
2            SYMFONISK  99.90           NaN      NaN        46194   30435204

     tax       date currency country
0  16.65 2021-01-21      EUR      SK
1   7.00 2021-01-21      EUR      SK
2  16.65 2021-01-21      EUR      SK
  good_name   price category_full category category_int product_id    tax  \
0   HAMMARN   899.0           NaN      NaN        20874   90354327  179.8
1  FRIHETEN  3795.0           NaN      NaN        20874   49297561  759.0
2  FRIHETEN  4495.0           NaN      NaN        20874   80432081  899.0

        date currency country
0 2021-02-04      SEK      SE
1 2021-02-04      SEK      SE
2 2021-02-04      SEK      SE
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.17
1     NISSE   9.95           NaN      NaN        25222   30115066  1.79
2      ADDE   9.95           NaN      NaN        25220   10219178  1.79

        date currency country
0 2021-02-17      EUR      IT
1 2021-02-17      EUR      IT
2 2021-02-17      EUR      IT
               good_name  price category_full category category_int  \
0              SYMFONISK  34990           NaN      NaN        46194
1              SYMFONISK   2490           NaN      NaN        46194
2  SYMFONISK / SYMFONISK  36680           NaN      NaN        46194

  product_id      tax       date currency country
0   30435204  7438.82 2021-01-21      HUF      HU
1   60489950   529.37 2021-01-21      HUF      HU
2   69304570  7798.11 2021-01-21      HUF      HU
  good_name  price category_full category category_int product_id   tax  \
0   TRÅDFRI   59.9           NaN      NaN        16281   10460751  9.56
1   TRÅDFRI   49.9           NaN      NaN        36814   70429913  7.97
2   TRÅDFRI   29.9           NaN      NaN        36814   00468432  4.77

        date currency country
0 2021-02-04      RON      RO
1 2021-02-04      RON      RO
2 2021-02-04      RON      RO
  good_name  price category_full category category_int product_id   tax  \
0   TRÅDFRI  11.99           NaN      NaN        16281   10460751  2.00
1   TRÅDFRI   5.99           NaN      NaN        36814   00468432  1.00
2   TRÅDFRI   9.99           NaN      NaN        36814   20364476  1.67

        date currency country
0 2021-02-04      EUR      SK
1 2021-02-04      EUR      SK
2 2021-02-04      EUR      SK
  good_name   price category_full category category_int product_id    tax  \
0   HAMMARN   899.0           NaN      NaN        20874   90354327  179.8
1  FRIHETEN  3795.0           NaN      NaN        20874   49297561  759.0
2  FRIHETEN  4495.0           NaN      NaN        20874   80432081  899.0

        date currency country
0 2021-01-21      SEK      SE
1 2021-01-21      SEK      SE
2 2021-01-21      SEK      SE
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE  29.00           NaN      NaN        25222   60217799  5.42
1     NISSE  39.99           NaN      NaN        25222   30115066  7.48
2      ADDE  39.00           NaN      NaN        25220   10219178  7.29

        date currency country
0 2021-02-17      PLN      PL
1 2021-02-17      PLN      PL
2 2021-02-17      PLN      PL
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.08
1     NISSE  19.99           NaN      NaN        25222   30115066  3.33
2      ADDE   9.99           NaN      NaN        25220   10219178  1.67

        date currency country
0 2021-02-12      EUR      AT
1 2021-02-12      EUR      AT
2 2021-02-12      EUR      AT

   good_name  price category_full category category_int product_id      tax  \
0  SYMFONISK  34990           NaN      NaN        46194   30435204  7438.82
1  SYMFONISK   2490           NaN      NaN        46194   10485742   529.37
2  SYMFONISK   3990           NaN      NaN        46194   40433780   848.27

        date currency country
0 2021-02-04      HUF      HU
1 2021-02-04      HUF      HU
2 2021-02-04      HUF      HU
   good_name  price category_full category category_int product_id    tax  \
0  HUVUDROLL     89           NaN      NaN        25213   20483592  11.61
1  HUVUDROLL    139           NaN      NaN        25213   70487795  18.13
2    KORVMOJ     75           NaN      NaN        25213   50447654   9.78

        date currency country
0 2021-01-26      CZK      CZ
1 2021-01-26      CZK      CZ
2 2021-01-26      CZK      CZ
                 good_name  price        category_full  \
0  VINTER 2020 ВІНТЕР 2020    149   Текстиль для стола
1  VINTER 2020 ВІНТЕР 2020    599   Текстиль для стола
2  VINTER 2020 ВІНТЕР 2020    119  Новорічний текстиль

                                            category category_int product_id  \
0                    Скатертини та доріжки для стола        20541   20472664
1                    Скатертини та доріжки для стола        20541   50472667
2                  VINTER 2020 ВІНТЕР 2020 Дитячи...        49152   30472418

     tax       date currency country
0  24.83 2021-01-26      uah      UA
1  99.83 2021-01-26      uah      UA
2  19.83 2021-01-26      uah      UA
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.17
1     NISSE   9.95           NaN      NaN        25222   30115066  1.79
2      ADDE   9.95           NaN      NaN        25220   10219178  1.79

        date currency country
0 2021-02-04      EUR      IT
1 2021-02-04      EUR      IT
2 2021-02-04      EUR      IT
  good_name  price category_full category category_int product_id    tax  \
0   TRÅDFRI    179           NaN      NaN        36814   40467765  31.07
1   TRÅDFRI    149           NaN      NaN        36814   00468432  25.86
2   TRÅDFRI    299           NaN      NaN        16281   30443124  51.89

        date currency country
0 2021-02-12      CZK      CZ
1 2021-02-12      CZK      CZ
2 2021-02-12      CZK      CZ
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE  29.00           NaN      NaN        25222   60217799  5.42
1     NISSE  39.99           NaN      NaN        25222   30115066  7.48
2      ADDE  39.00           NaN      NaN        25220   10219178  7.29

        date currency country
0 2021-01-21      PLN      PL
1 2021-01-21      PLN      PL
2 2021-01-21      PLN      PL
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.08
1     NISSE  19.99           NaN      NaN        25222   30115066  3.33
2      ADDE   9.99           NaN      NaN        25220   10219178  1.67

        date currency country
0 2021-01-26      EUR      AT
1 2021-01-26      EUR      AT
2 2021-01-26      EUR      AT
           good_name  price     category_full                       category  \
0    HAMMARN ХАММАРН   2699             Ліжка                   Дивани-ліжка
1  KNOPPARP КНОППАРП   2699  Дивани та крісла  Дивани з текстильною оббивкою
2  FRIHETEN ФРІХЕТЕН  13999             Ліжка                   Дивани-ліжка

  category_int product_id      tax       date currency country
0        20874   90354327   449.83 2021-02-12      uah      UA
1        10668   10424621   449.83 2021-02-12      uah      UA
2        20874   39216754  2333.16 2021-02-12      uah      UA
  good_name   price category_full category category_int product_id    tax  \
0   HAMMARN   899.0           NaN      NaN        20874   90354327  179.8
1  FRIHETEN  3795.0           NaN      NaN        20874   49297561  759.0
2  FRIHETEN  4495.0           NaN      NaN        20874   80432081  899.0

        date currency country
0 2021-02-17      SEK      SE
1 2021-02-17      SEK      SE
2 2021-02-17      SEK      SE
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE  29.00           NaN      NaN        25222   60217799  5.42
1     NISSE  39.99           NaN      NaN        25222   30115066  7.48
2      ADDE  39.00           NaN      NaN        25220   10219178  7.29

        date currency country
0 2021-01-26      PLN      PL
1 2021-01-26      PLN      PL
2 2021-01-26      PLN      PL
  good_name  price category_full category category_int product_id   tax  \
0   TRÅDFRI   34.9           NaN      NaN        36814   40467765  5.57
1   TRÅDFRI   29.9           NaN      NaN        36814   00468432  4.77
2   TRÅDFRI   59.9           NaN      NaN        16281   10460751  9.56

        date currency country
0 2021-02-23      RON      RO
1 2021-02-23      RON      RO
2 2021-02-23      RON      RO
  good_name  price category_full category category_int product_id   tax  \
0   TRÅDFRI   6.99           NaN      NaN        36814   40467765  1.17
1   TRÅDFRI  11.99           NaN      NaN        16281   10460751  2.00
2   TRÅDFRI   5.99           NaN      NaN        36814   00468432  1.00

        date currency country
0 2021-02-23      EUR      SK
1 2021-02-23      EUR      SK
2 2021-02-23      EUR      SK
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.08
1     NISSE  19.99           NaN      NaN        25222   30115066  3.33
2      ADDE   9.99           NaN      NaN        25220   10219178  1.67

        date currency country
0 2021-01-21      EUR      AT
1 2021-01-21      EUR      AT
2 2021-01-21      EUR      AT
           good_name  price     category_full                       category  \
0    HAMMARN ХАММАРН   2699             Ліжка                   Дивани-ліжка
1  KNOPPARP КНОППАРП   2699  Дивани та крісла  Дивани з текстильною оббивкою
2  FRIHETEN ФРІХЕТЕН  13999             Ліжка                   Дивани-ліжка

  category_int product_id      tax       date currency country
0        20874   90354327   449.83 2021-02-17      uah      UA
1        10668   10424621   449.83 2021-02-17      uah      UA
2        20874   39216754  2333.16 2021-02-17      uah      UA
  good_name   price category_full category category_int product_id    tax  \
0   HAMMARN   899.0           NaN      NaN        20874   90354327  179.8
1  FRIHETEN  3795.0           NaN      NaN        20874   49297561  759.0
2  FRIHETEN  4495.0           NaN      NaN        20874   80432081  899.0

        date currency country
0 2021-02-12      SEK      SE
1 2021-02-12      SEK      SE
2 2021-02-12      SEK      SE
  good_name  price category_full category category_int product_id      tax  \
0   TRÅDFRI   2290           NaN      NaN        36814   40467765   486.85
1   TRÅDFRI   3490           NaN      NaN        16281   30443124   741.97
2   TRÅDFRI   9990           NaN      NaN        16281   40337806  2123.86

        date currency country
0 2021-02-23      HUF      HU
1 2021-02-23      HUF      HU
2 2021-02-23      HUF      HU
  good_name  price category_full category category_int product_id    tax  \
0   TRÅDFRI    179           NaN      NaN        36814   40467765  31.07
1   TRÅDFRI    149           NaN      NaN        36814   00468432  25.86
2   TRÅDFRI    299           NaN      NaN        16281   30443124  51.89

        date currency country
0 2021-02-17      CZK      CZ
1 2021-02-17      CZK      CZ
2 2021-02-17      CZK      CZ
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE  29.00           NaN      NaN        25222   60217799  5.42
1     NISSE  39.99           NaN      NaN        25222   30115066  7.48
2      ADDE  39.00           NaN      NaN        25220   10219178  7.29

        date currency country
0 2021-02-12      PLN      PL
1 2021-02-12      PLN      PL
2 2021-02-12      PLN      PL
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.17
1     NISSE   9.95           NaN      NaN        25222   30115066  1.79
2      ADDE   9.95           NaN      NaN        25220   10219178  1.79

        date currency country
0 2021-02-23      EUR      IT
1 2021-02-23      EUR      IT
2 2021-02-23      EUR      IT
   good_name  price category_full category category_int product_id    tax  \
0  HUVUDROLL     89           NaN      NaN        25213   20483592  11.61
1  HUVUDROLL    139           NaN      NaN        25213   70487795  18.13
2    KORVMOJ     75           NaN      NaN        25213   50447654   9.78

        date currency country
0 2021-01-21      CZK      CZ
1 2021-01-21      CZK      CZ
2 2021-01-21      CZK      CZ
                 good_name  price        category_full  \
0  VINTER 2020 ВІНТЕР 2020    149   Текстиль для стола
1  VINTER 2020 ВІНТЕР 2020    599   Текстиль для стола
2  VINTER 2020 ВІНТЕР 2020    149  Новорічний текстиль

                                 category category_int product_id    tax  \
0         Скатертини та доріжки для стола        20541   20472664  24.83
1         Скатертини та доріжки для стола        20541   50472667  99.83
2  VINTER 2020 ВІНТЕР 2020 Дитячий фартух        49152   00472245  24.83

        date currency country
0 2021-01-21      uah      UA
1 2021-01-21      uah      UA
2 2021-01-21      uah      UA
  good_name   price category_full category category_int product_id    tax  \
0   HAMMARN   899.0           NaN      NaN        20874   90354327  179.8
1  FRIHETEN  3795.0           NaN      NaN        20874   49297561  759.0
2  FRIHETEN  4495.0           NaN      NaN        20874   80432081  899.0

        date currency country
0 2021-01-26      SEK      SE
1 2021-01-26      SEK      SE
2 2021-01-26      SEK      SE
  good_name  price category_full category category_int product_id   tax  \
0     GUNDE   6.50           NaN      NaN        25222   60217799  1.08
1     NISSE  19.99           NaN      NaN        25222   30115066  3.33
2      ADDE   9.99           NaN      NaN        25220   10219178  1.67

        date currency country
0 2021-02-17      EUR      AT
1 2021-02-17      EUR      AT
2 2021-02-17      EUR      AT

Check if everything is fine

In [12]:
print (frame.info())
print (frame.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200187 entries, 0 to 200186
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   good_name      200187 non-null  object
 1   price          200187 non-null  float64
 2   category_full  15908 non-null   object
 3   category       15908 non-null   object
 4   category_int   200187 non-null  object
 5   product_id     200187 non-null  object
 6   tax            200187 non-null  float64
 7   date           200187 non-null  datetime64[ns]
 8   currency       200187 non-null  object
 9   country        200187 non-null  object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 15.3+ MB
None
           good_name    price     category_full  \
0    HAMMARN ХАММАРН   2699.0             Ліжка
1  KNOPPARP КНОППАРП   2699.0  Дивани та крісла
2  FRIHETEN ФРІХЕТЕН  13999.0             Ліжка
3        KIVIK КІВІК  10999.0  Дивани та крісла
4    KLIPPAN КЛІППАН   6199.0  Дивани та крісла

                        category category_int product_id      tax       date  \
0                   Дивани-ліжка        20874   90354327   449.83 2021-02-04
1  Дивани з текстильною оббивкою        10668   10424621   449.83 2021-02-04
2                   Дивани-ліжка        20874   39216754  2333.16 2021-02-04
3  Дивани з текстильною оббивкою        10670   99011429  1833.17 2021-02-04
4  Дивани з текстильною оббивкою        10668   09251777  1033.17 2021-02-04

  currency country
0      uah      UA
1      uah      UA
2      uah      UA
3      uah      UA
4      uah      UA

# 3. Merge dataframes

3.1. pandas.DataFrame.merge merge dataframes or named Series objects with a database-style join. 
Type of merge to be performed: {‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’

1) Inner join: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.

In [13]:
inner=pd.merge(left=frame, right=er, how='inner', left_on='currency', right_on='currency')
print (inner.head(3))
print (inner.info())

         good_name   price category_full      category category_int  \
0  HAMMARN ХАММАРН  2699.0         Ліжка  Дивани-ліжка        20874
1  HAMMARN ХАММАРН  2699.0         Ліжка  Дивани-ліжка        20874
2  HAMMARN ХАММАРН  2699.0         Ліжка  Дивани-ліжка        20874

  product_id     tax     date_x currency country     date_y   ER
0   90354327  449.83 2021-02-04      uah      UA 2021-01-21  1.0
1   90354327  449.83 2021-02-04      uah      UA 2021-01-26  1.0
2   90354327  449.83 2021-02-04      uah      UA 2021-02-04  1.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201122 entries, 0 to 1201121
Data columns (total 12 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   good_name      1201122 non-null  object
 1   price          1201122 non-null  float64
 2   category_full  95448 non-null    object
 3   category       95448 non-null    object
 4   category_int   1201122 non-null  object
 5   product_id     1201122 non-null  object
 6   tax            1201122 non-null  float64
 7   date_x         1201122 non-null  datetime64[ns]
 8   currency       1201122 non-null  object
 9   country        1201122 non-null  object
 10  date_y         1201122 non-null  datetime64[ns]
 11  ER             1201122 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(7)
memory usage: 119.1+ MB
None

2) Left: use only keys from left frame, similar to a SQL left outer join; preserve key order.

In [15]:
left=pd.merge(left=frame, right=er, how='left', left_on='currency', right_on='currency')
print (left.head(3))
print (left.info())

         good_name   price category_full      category category_int  \
0  HAMMARN ХАММАРН  2699.0         Ліжка  Дивани-ліжка        20874
1  HAMMARN ХАММАРН  2699.0         Ліжка  Дивани-ліжка        20874
2  HAMMARN ХАММАРН  2699.0         Ліжка  Дивани-ліжка        20874

  product_id     tax     date_x currency country     date_y   ER
0   90354327  449.83 2021-02-04      uah      UA 2021-01-21  1.0
1   90354327  449.83 2021-02-04      uah      UA 2021-01-26  1.0
2   90354327  449.83 2021-02-04      uah      UA 2021-02-04  1.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201122 entries, 0 to 1201121
Data columns (total 12 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   good_name      1201122 non-null  object
 1   price          1201122 non-null  float64
 2   category_full  95448 non-null    object
 3   category       95448 non-null    object
 4   category_int   1201122 non-null  object
 5   product_id     1201122 non-null  object
 6   tax            1201122 non-null  float64
 7   date_x         1201122 non-null  datetime64[ns]
 8   currency       1201122 non-null  object
 9   country        1201122 non-null  object
 10  date_y         1201122 non-null  datetime64[ns]
 11  ER             1201122 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(7)
memory usage: 119.1+ MB
None

3) Right: use only keys from right frame, similar to a SQL right outer join; preserve key order.

In [16]:
right=pd.merge(left=frame, right=er, how='right', left_on='currency', right_on='currency')
print (right.head(3))
print (right.info())

  good_name  price category_full category category_int product_id    tax  \
0   TRÅDFRI  299.0           NaN      NaN        36814   70429913  51.89
1   TRÅDFRI  179.0           NaN      NaN        36814   40467765  31.07
2   TRÅDFRI  299.0           NaN      NaN        16281   30443124  51.89

      date_x currency country     date_y      ER
0 2021-02-04      CZK      CZ 2021-01-21  1.3071
1 2021-02-04      CZK      CZ 2021-01-21  1.3071
2 2021-02-04      CZK      CZ 2021-01-21  1.3071
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201128 entries, 0 to 1201127
Data columns (total 12 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   good_name      1201122 non-null  object
 1   price          1201122 non-null  float64
 2   category_full  95448 non-null    object
 3   category       95448 non-null    object
 4   category_int   1201122 non-null  object
 5   product_id     1201122 non-null  object
 6   tax            1201122 non-null  float64
 7   date_x         1201122 non-null  datetime64[ns]
 8   currency       1201128 non-null  object
 9   country        1201122 non-null  object
 10  date_y         1201128 non-null  datetime64[ns]
 11  ER             1201128 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(7)
memory usage: 119.1+ MB
None

4) Outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.

In [17]:
outer=pd.merge(left=frame, right=er, how='outer', left_on='currency', right_on='currency')
print (outer.head(3))
print (outer.info())

         good_name   price category_full      category category_int  \
0  HAMMARN ХАММАРН  2699.0         Ліжка  Дивани-ліжка        20874
1  HAMMARN ХАММАРН  2699.0         Ліжка  Дивани-ліжка        20874
2  HAMMARN ХАММАРН  2699.0         Ліжка  Дивани-ліжка        20874

  product_id     tax     date_x currency country     date_y   ER
0   90354327  449.83 2021-02-04      uah      UA 2021-01-21  1.0
1   90354327  449.83 2021-02-04      uah      UA 2021-01-26  1.0
2   90354327  449.83 2021-02-04      uah      UA 2021-02-04  1.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201128 entries, 0 to 1201127
Data columns (total 12 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   good_name      1201122 non-null  object
 1   price          1201122 non-null  float64
 2   category_full  95448 non-null    object
 3   category       95448 non-null    object
 4   category_int   1201122 non-null  object
 5   product_id     1201122 non-null  object
 6   tax            1201122 non-null  float64
 7   date_x         1201122 non-null  datetime64[ns]
 8   currency       1201128 non-null  object
 9   country        1201122 non-null  object
 10  date_y         1201128 non-null  datetime64[ns]
 11  ER             1201128 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(7)
memory usage: 119.1+ MB
None

3.2. Merge on few columns

In [18]:
df=pd.merge(left=frame, right=er, how='left', left_on=['currency','date'], right_on=['currency','date'])
print (df.head(3))
print (df.info())

           good_name    price     category_full  \
0    HAMMARN ХАММАРН   2699.0             Ліжка
1  KNOPPARP КНОППАРП   2699.0  Дивани та крісла
2  FRIHETEN ФРІХЕТЕН  13999.0             Ліжка

                        category category_int product_id      tax       date  \
0                   Дивани-ліжка        20874   90354327   449.83 2021-02-04
1  Дивани з текстильною оббивкою        10668   10424621   449.83 2021-02-04
2                   Дивани-ліжка        20874   39216754  2333.16 2021-02-04

  currency country   ER
0      uah      UA  1.0
1      uah      UA  1.0
2      uah      UA  1.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200187 entries, 0 to 200186
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   good_name      200187 non-null  object
 1   price          200187 non-null  float64
 2   category_full  15908 non-null   object
 3   category       15908 non-null   object
 4   category_int   200187 non-null  object
 5   product_id     200187 non-null  object
 6   tax            200187 non-null  float64
 7   date           200187 non-null  datetime64[ns]
 8   currency       200187 non-null  object
 9   country        200187 non-null  object
 10  ER             200187 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 18.3+ MB
None

3.3. Merge part of dataframe

In [19]:
df=pd.merge(left=frame[['product_id','price','tax','category_int','date','currency','country']], right=er, how='left', left_on=['currency','date'], right_on=['currency','date'])
print (df.head(3))
print (df.info())

  product_id    price      tax category_int       date currency country   ER
0   90354327   2699.0   449.83        20874 2021-02-04      uah      UA  1.0
1   10424621   2699.0   449.83        10668 2021-02-04      uah      UA  1.0
2   39216754  13999.0  2333.16        20874 2021-02-04      uah      UA  1.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200187 entries, 0 to 200186
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   product_id    200187 non-null  object
 1   price         200187 non-null  float64
 2   tax           200187 non-null  float64
 3   category_int  200187 non-null  object
 4   date          200187 non-null  datetime64[ns]
 5   currency      200187 non-null  object
 6   country       200187 non-null  object
 7   ER            200187 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 13.7+ MB
None

# 4. Calculations

4.1. Creating new column based on values from other columns

In [20]:
df['price_uah']=df['price']*df['ER']
df['tax_uah']=df['tax']*df['ER']
df['tax_share']=df['tax']/df['price']
print (df.head(3))
print (df.info())

  product_id    price      tax category_int       date currency country   ER  \
0   90354327   2699.0   449.83        20874 2021-02-04      uah      UA  1.0
1   10424621   2699.0   449.83        10668 2021-02-04      uah      UA  1.0
2   39216754  13999.0  2333.16        20874 2021-02-04      uah      UA  1.0

   price_uah  tax_uah  tax_share
0     2699.0   449.83   0.166665
1     2699.0   449.83   0.166665
2    13999.0  2333.16   0.166666
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200187 entries, 0 to 200186
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   product_id    200187 non-null  object
 1   price         200187 non-null  float64
 2   tax           200187 non-null  float64
 3   category_int  200187 non-null  object
 4   date          200187 non-null  datetime64[ns]
 5   currency      200187 non-null  object
 6   country       200187 non-null  object
 7   ER            200187 non-null  float64
 8   price_uah     200187 non-null  float64
 9   tax_uah       200187 non-null  float64
 10  tax_share     200187 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(4)
memory usage: 18.3+ MB
None

4.2. Add columns with another date format

In [21]:
df['year_mon']=df['date'].dt.to_period('m').dt.strftime('%YM%m') #convert to months
df['year_week']=df['date'].dt.to_period('U').dt.strftime('%YW%U') #convert to weeks
print (df.head(3))
print (df.info())

  product_id    price      tax category_int       date currency country   ER  \
0   90354327   2699.0   449.83        20874 2021-02-04      uah      UA  1.0
1   10424621   2699.0   449.83        10668 2021-02-04      uah      UA  1.0
2   39216754  13999.0  2333.16        20874 2021-02-04      uah      UA  1.0

   price_uah  tax_uah  tax_share year_mon year_week
0     2699.0   449.83   0.166665  2021M02   2021W05
1     2699.0   449.83   0.166665  2021M02   2021W05
2    13999.0  2333.16   0.166666  2021M02   2021W05
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200187 entries, 0 to 200186
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   product_id    200187 non-null  object
 1   price         200187 non-null  float64
 2   tax           200187 non-null  float64
 3   category_int  200187 non-null  object
 4   date          200187 non-null  datetime64[ns]
 5   currency      200187 non-null  object
 6   country       200187 non-null  object
 7   ER            200187 non-null  float64
 8   price_uah     200187 non-null  float64
 9   tax_uah       200187 non-null  float64
 10  tax_share     200187 non-null  float64
 11  year_mon      200187 non-null  object
 12  year_week     200187 non-null  object
dtypes: datetime64[ns](1), float64(6), object(6)
memory usage: 21.4+ MB
None

4.3. Compute data characteristics

In [22]:
print ('min: ',df['tax_share'].min())
print ('max: ',df['tax_share'].max())
print ('mean: ',df['tax_share'].mean())
print ('median: ',df['tax_share'].median())

min:  0.0
max:  0.22222222222222224
mean:  0.17727804528648147
median:  0.17355444305381726

4.4. Find rows based on column value

In [23]:
print(df.loc[df['tax_share'] == 0])

       product_id    price  tax category_int       date currency country  \
76965    59385982    79.98  0.0        10731 2021-02-23      EUR      AT
107763   49390031  6485.00  0.0        46079 2021-01-21      SEK      SE
114309   59385982    79.98  0.0        10731 2021-02-12      EUR      AT
198364   59385982    79.98  0.0        10731 2021-02-17      EUR      AT

             ER     price_uah  tax_uah  tax_share year_mon year_week
76965   33.8866   2710.250268      0.0        0.0  2021M02   2021W08
107763   3.3686  21845.371000      0.0        0.0  2021M01   2021W03
114309  33.8111   2704.211778      0.0        0.0  2021M02   2021W06
198364  33.7708   2700.988584      0.0        0.0  2021M02   2021W07

In [24]:
print(df.loc[df['tax_share'] > 0.22])

       product_id  price   tax category_int       date currency country  \
20600    80469970   0.09  0.02        45851 2021-01-26      EUR      SK
43955    80469970   0.09  0.02        45851 2021-02-12      EUR      SK
65881    80469970   0.09  0.02        45851 2021-02-17      EUR      SK
85135    80469970   0.09  0.02        45851 2021-01-21      EUR      SK
103869   80469970   0.09  0.02        45851 2021-02-04      EUR      SK
158713   80469970   0.09  0.02        45851 2021-02-23      EUR      SK

             ER  price_uah   tax_uah  tax_share year_mon year_week
20600   34.2265   3.080385  0.684530   0.222222  2021M01   2021W04
43955   33.8111   3.042999  0.676222   0.222222  2021M02   2021W06
65881   33.7708   3.039372  0.675416   0.222222  2021M02   2021W07
85135   34.1488   3.073392  0.682976   0.222222  2021M01   2021W03
103869  33.6374   3.027366  0.672748   0.222222  2021M02   2021W05
158713  33.8866   3.049794  0.677732   0.222222  2021M02   2021W08

4.5. Replace values

In [27]:
df["currency"].replace({"uah": "UAH"}, inplace=True)
print(df.head())

  product_id    price      tax category_int       date currency country   ER  \
0   90354327   2699.0   449.83        20874 2021-02-04      UAH      UA  1.0
1   10424621   2699.0   449.83        10668 2021-02-04      UAH      UA  1.0
2   39216754  13999.0  2333.16        20874 2021-02-04      UAH      UA  1.0
3   99011429  10999.0  1833.17        10670 2021-02-04      UAH      UA  1.0
4   09251777   6199.0  1033.17        10668 2021-02-04      UAH      UA  1.0

   price_uah  tax_uah  tax_share year_mon year_week
0     2699.0   449.83   0.166665  2021M02   2021W05
1     2699.0   449.83   0.166665  2021M02   2021W05
2    13999.0  2333.16   0.166666  2021M02   2021W05
3    10999.0  1833.17   0.166667  2021M02   2021W05
4     6199.0  1033.17   0.166667  2021M02   2021W05

# 5. Group values and pivot tables

5.1. Group values

In [28]:
countries=df.groupby(['currency','country']).size() #select unique values of columns, size() counts number of rows
print (countries)

currency  country
CZK       CZ         22209
EUR       AT         23272
          IT         24849
          SK         22022
HUF       HU         22157
PLN       PL         23088
RON       RO         23278
SEK       SE         23404
UAH       UA         15908
dtype: int64

5.2. Compute some values

In [29]:
countries_mean=df.groupby(['currency','country'])[['price_uah','tax_share']].mean() #() indicates grouping conditions, [] indicates values
print (countries_mean)

                    price_uah  tax_share
currency country
CZK      CZ       1863.786916   0.171436
EUR      AT       2252.482946   0.163149
         IT       2269.622883   0.176938
         SK       1791.477613   0.166998
HUF      HU       1686.926177   0.211671
PLN      PL       1810.154585   0.180850
RON      RO       1820.633241   0.155449
SEK      SE       2552.447321   0.199602
UAH      UA       1570.016281   0.166876

5.3. Pivot table

In [30]:
df_pivot=pd.pivot_table(df, index=["currency", "country"], values=["price_uah"],
               columns=['year_week'], aggfunc=[np.mean])
print (df_pivot)

                         mean                                         \
                    price_uah
year_week             2021W03      2021W04      2021W05      2021W06
currency country
CZK      CZ       1749.238839  1774.517619  1785.259644  1809.999173
EUR      AT       2174.903046  2197.602742  2075.800244  2141.853767
         IT       2113.568585  2131.026969  2232.577090  2273.510601
         SK       1798.885367  1794.893351  1748.530948  1728.208049
HUF      HU       1643.974876  1638.902152  1604.582378  1655.435326
PLN      PL       1651.392615  1679.162354  1739.775691  1762.965366
RON      RO       1769.597327  1766.475117  1756.208186  1773.422096
SEK      SE       2429.239117  2449.738033  2524.469008  2558.784768
UAH      UA       1536.965415  1541.648568  1555.580670  1593.655212



year_week             2021W07      2021W08
currency country
CZK      CZ       1797.413079  2203.645479
EUR      AT       2189.865649  2668.843224
         IT       2294.861956  2531.940962
         SK       1694.206447  1961.870921
HUF      HU       1631.952548  1907.920428
PLN      PL       1814.451677  2143.068688
RON      RO       1759.461407  2062.378009
SEK      SE       2588.592856  2732.094631
UAH      UA       1591.894158  1601.565546

In [31]:
df_pivot_stats=pd.pivot_table(df, index=["currency", "country"], values=["price","price_uah"],
               columns=[], aggfunc=[np.mean, np.median, np.std])
print (df_pivot_stats)

                          mean                median              \
                         price    price_uah    price   price_uah
currency country
CZK      CZ        1425.351524  1863.786916   299.00  390.763100
EUR      AT          66.417049  2252.482946    14.99  506.828389
         IT          66.938143  2269.622883    18.95  639.110600
         SK          52.826246  1791.477613    10.99  376.149235
HUF      HU       17791.314934  1686.926177  3990.00  375.742290
PLN      PL         240.680178  1810.154585    49.99  376.654654
RON      RO         261.703267  1820.633241    50.00  350.362870
SEK      SE         758.755258  2552.447321   199.00  667.465900
UAH      UA        1570.016281  1570.016281   379.00  379.000000

                           std
                         price    price_uah
currency country
CZK      CZ        2896.680649  3787.480178
EUR      AT         128.380215  4354.255310
         IT         123.587075  4188.891445
         SK         104.374502  3539.575148
HUF      HU       34308.069897  3252.136529
PLN      PL         425.816920  3202.475286
RON      RO         540.800645  3762.499684
SEK      SE        1452.723256  4885.453986
UAH      UA        3055.602606  3055.602606

5.4. Add filter on dataframe

In [32]:
df_pivot_f1=pd.pivot_table(df[df.currency=='EUR'], index=["currency", "country"], values=["price","price_uah"],
               columns=[], aggfunc=[np.mean])
print (df_pivot_f1)

                       mean
                      price    price_uah
currency country
EUR      AT       66.417049  2252.482946
         IT       66.938143  2269.622883
         SK       52.826246  1791.477613

5.5. To add few filters use "&" operator

In [33]:
df_pivot_f2=pd.pivot_table(df[(df.currency=='EUR')&(df.tax_share>0.17)], index=["currency", "country"], values=["price","price_uah"],
               columns=[], aggfunc=[np.mean])
print (df_pivot_f2)

                       mean
                      price    price_uah
currency country
EUR      AT        1.154681    39.148651
         IT       69.222207  2347.065788
         SK        0.944750    32.034066

5.6. Price changes

In [34]:
prices=pd.pivot_table(df, index=["country", 'product_id'], values=["price"],
               columns=['year_week'], aggfunc=[np.mean])
print (prices)

                      mean
                     price
year_week          2021W03 2021W04 2021W05 2021W06 2021W07 2021W08
country product_id
AT      00028508       4.0     4.0     4.0     4.0     4.0     4.0
        00058487     149.0   149.0   149.0   149.0   149.0   149.0
        00089163       4.0     4.0     4.0     4.0     4.0     4.0
        00100467       NaN     NaN     1.0     1.0     1.0     1.0
        00105064     179.0   179.0   179.0   179.0   179.0   179.0
...                    ...     ...     ...     ...     ...     ...
UA      99338427       NaN     NaN   401.0     NaN     NaN     NaN
        99338597       NaN     NaN  2150.0  2150.0  2150.0     NaN
        99385961    5606.0  5606.0  5606.0  5606.0  5606.0     NaN
        99394437       NaN     NaN     NaN     NaN     NaN  2100.0
        99417429     117.0   117.0   117.0   117.0   117.0   117.0

[29937 rows x 6 columns]

In [35]:
prices.reset_index(inplace=True)
prices.columns.name = None
prices.index.name = None
prices.columns = ['country', 'product_id','2021W03','2021W04','2021W05','2021W06','2021W07','2021W08']
print (prices)

      country product_id  2021W03  2021W04  2021W05  2021W06  2021W07  2021W08
0          AT   00028508      4.0      4.0      4.0      4.0      4.0      4.0
1          AT   00058487    149.0    149.0    149.0    149.0    149.0    149.0
2          AT   00089163      4.0      4.0      4.0      4.0      4.0      4.0
3          AT   00100467      NaN      NaN      1.0      1.0      1.0      1.0
4          AT   00105064    179.0    179.0    179.0    179.0    179.0    179.0
...       ...        ...      ...      ...      ...      ...      ...      ...
29932      UA   99338427      NaN      NaN    401.0      NaN      NaN      NaN
29933      UA   99338597      NaN      NaN   2150.0   2150.0   2150.0      NaN
29934      UA   99385961   5606.0   5606.0   5606.0   5606.0   5606.0      NaN
29935      UA   99394437      NaN      NaN      NaN      NaN      NaN   2100.0
29936      UA   99417429    117.0    117.0    117.0    117.0    117.0    117.0

[29937 rows x 8 columns]

In [36]:
prices['change_2021W04']=prices['2021W04']/prices['2021W03']
print (prices)

      country product_id  2021W03  2021W04  2021W05  2021W06  2021W07  \
0          AT   00028508      4.0      4.0      4.0      4.0      4.0
1          AT   00058487    149.0    149.0    149.0    149.0    149.0
2          AT   00089163      4.0      4.0      4.0      4.0      4.0
3          AT   00100467      NaN      NaN      1.0      1.0      1.0
4          AT   00105064    179.0    179.0    179.0    179.0    179.0
...       ...        ...      ...      ...      ...      ...      ...
29932      UA   99338427      NaN      NaN    401.0      NaN      NaN
29933      UA   99338597      NaN      NaN   2150.0   2150.0   2150.0
29934      UA   99385961   5606.0   5606.0   5606.0   5606.0   5606.0
29935      UA   99394437      NaN      NaN      NaN      NaN      NaN
29936      UA   99417429    117.0    117.0    117.0    117.0    117.0

       2021W08  change_2021W04
0          4.0             1.0
1        149.0             1.0
2          4.0             1.0
3          1.0             NaN
4        179.0             1.0
...        ...             ...
29932      NaN             NaN
29933      NaN             NaN
29934      NaN             1.0
29935   2100.0             NaN
29936    117.0             1.0

[29937 rows x 9 columns]

In [37]:
price_change=prices.groupby(['country'])[['change_2021W04']].mean() #() indicates grouping conditions, [] indicates values
print (price_change)

         change_2021W04
country
AT             0.992969
CZ             0.979244
HU             1.000000
IT             1.000000
PL             1.000000
RO             1.000000
SE             1.004647
SK             1.000000
UA             1.000000

In [38]:
dates = ['2021W03','2021W04','2021W05','2021W06','2021W07','2021W08']
for d in range (0,5):
    print (d, dates[d], dates[d+1])
    prices['change_'+str(dates[d+1])] = prices[dates[d+1]] / prices[dates[d]] * 100
print (prices.head())

0 2021W03 2021W04
1 2021W04 2021W05
2 2021W05 2021W06
3 2021W06 2021W07
4 2021W07 2021W08
  country product_id  2021W03  2021W04  2021W05  2021W06  2021W07  2021W08  \
0      AT   00028508      4.0      4.0      4.0      4.0      4.0      4.0
1      AT   00058487    149.0    149.0    149.0    149.0    149.0    149.0
2      AT   00089163      4.0      4.0      4.0      4.0      4.0      4.0
3      AT   00100467      NaN      NaN      1.0      1.0      1.0      1.0
4      AT   00105064    179.0    179.0    179.0    179.0    179.0    179.0

   change_2021W04  change_2021W05  change_2021W06  change_2021W07  \
0           100.0           100.0           100.0           100.0
1           100.0           100.0           100.0           100.0
2           100.0           100.0           100.0           100.0
3             NaN             NaN           100.0           100.0
4           100.0           100.0           100.0           100.0

   change_2021W08
0           100.0
1           100.0
2           100.0
3           100.0
4           100.0

In [39]:
price_change=prices.groupby(['country'])[['change_2021W04','change_2021W05','change_2021W06','change_2021W07','change_2021W08']].mean() #() indicates grouping conditions, [] indicates values
print (price_change)

         change_2021W04  change_2021W05  change_2021W06  change_2021W07  \
country
AT            99.296890      100.107701      101.460564       99.818419
CZ            97.924385       99.959767      100.000000       99.987220
HU           100.000000       99.901648      100.004426      100.000000
IT           100.000000      100.167932       99.990760      100.075302
PL           100.000000       99.945598      100.000001      100.000000
RO           100.000000       99.942567       99.990314      100.044673
SE           100.464697      100.563546      100.000000       99.966473
SK           100.000000      100.093660      100.010619      100.039023
UA           100.000000      100.000000      100.000000      100.000000

         change_2021W08
country
AT           100.000000
CZ           100.002896
HU            99.977274
IT           100.000000
PL            99.895979
RO            99.986949
SE           100.000000
SK            99.998006
UA           100.000000

# 6. Data export

6.1. Export to excel

In [40]:
price_change.to_excel('/Users/tetianayukhymenko/Documents/Code/price_change.xlsx')

6.2. Export to csv

In [41]:
price_change.to_csv('/Users/tetianayukhymenko/Documents/Code/price_change.csv',header=True,sep=',')